{% extends 'base.html' %}

{% block base_center_container %}
<div class="container" align="left">
    <h2>About</h2>
<p> What to do with the 100 dollars free credits to use from digital ocean within 2 months which is equivalent to 10 droplets(1GB RAM - 1 CPU) running 24x7for 2 months. With my 12+ years GIS experience, I choose to
    build an experimental hobby site close to production architecture using all open source technologies. At some-point, we will fetch live data via App(gps) & iOT's, connect to a mongodb, do machine learning, etc.. lets have fun!
<br><br>

    <h3> Technologies Used:</h3><hr>
1. Geoserver<br>
2. Geokettle<br>
3. Dockers<br>
4. Postgresql, Postgis<br>
5. Python, JS, CSS<br>
6. Django<br>
7. Leafletjs<br>
8. Git<br>
9. Mongodb - Targetted <br>
10. Android Apps - Get live GPS data<br>
11. iOT - 1 each of Photon Wifi and cellular modules for data gathering<br>
<br>

    <h3>Testing:</h3> <hr>
1. Robot Framework for UI<br>
2. Minimum Unit Testing
<br><br>
    <h3># of Servers</h3> <hr>
Each Server is 1GB RAM, 1 CPU cloud instance (droplets). <br>
    &emsp;- Server-1 Geoserver serving my own maptiles <br>
    &emsp;- Server-2 Postgres + Postgis <br>
    &emsp;- Server-3 WebApp<br>
    &emsp;- Server-4 Mongodb (todo)<br>


<br>
    <h3>Maps:</h3><hr>
1. Map data are downloaded from OSM and Canada Government Websites<br>
2. Map bounds cover a small area of: Vancouver, Burnaby, Richmond<br>

<br><br>
    <h3>Frequency Updates:</h3> <hr>
    Whenever I get some time. Will try to post updates atleast once a month. Thanks! <br><br>

    <h4>Updates: 2018-09</h4>
    &emsp;- Provisioned 3 servers<br>
    &emsp;- Built a basic site using leaftlet<br>
    &emsp;- Created a small map extract from OSM upload through Postgis<br>
    &emsp;- Feature to search and locate PostCode<br>
    <br>

    <h3>Target Feature Backlog:</h3> <hr>
   &emsp; 1. Create Outage points on a network<br>
   &emsp; 2. Search for Outage points on a particular zone<br>
   &emsp; 3. Dispatch field crew ( Status workflow)<br>
   &emsp; 4. Ability to update selective objects based on User Rights and Roles assigned.<br>
   &emsp;5. Live Video Feed for remote supervision<br>
   &emsp; 6. Integrate Facial Recognition Algorithim to recognize people on the outage location<br>
   &emsp; 7. Perfom Natural Language Procession do data mining.<br>


<br><br>
    <h4>Contact:  </h4>
    mvinoth.kumar@yahoo.com / +1-604-499-6677
</p>



</div>
{%  endblock %}