<header>
    <title>myGIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>


    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
            integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
            crossorigin=""></script>

    <!-- add L.Control.Zoominfo js and css after Leaflet -->
    {% load static %}
    <!--link rel="stylesheet" href="{% static 'css/L.Control.Zoomslider.css' %}" /-->


    <!-- Leaflet Zoom Info: https://github.com/flaviocarmo/Leaflet.zoominfo -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/L.Control.Zoominfo.css' %}"/>
    <script src="{% static 'js/L.Control.Zoominfo.js' %}"></script>

    <!-- leaflet ruler: https://github.com/gokertanrisever/leaflet-ruler  -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.rawgit.com/gokertanrisever/leaflet-ruler/master/src/leaflet-ruler.css">
    <script src="https://cdn.rawgit.com/gokertanrisever/leaflet-ruler/master/src/leaflet-ruler.js"></script>

    <!-- Data Tables-->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.18/cr-1.5.0/fc-3.2.5/fh-3.1.4/r-2.2.2/rr-1.2.4/sc-1.5.0/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/dt-1.10.18/cr-1.5.0/fc-3.2.5/fh-3.1.4/r-2.2.2/rr-1.2.4/sc-1.5.0/datatables.min.js"></script>


</header>


<body>
{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <img src="{% static 'img/gnapi_logo.png' %}" heght=25px</img>
    <a class="navbar-brand" href="{% url 'home' %}">GIS</a>
    <a class="navbar-brand" href="{% url 'about' %}">About</a>

</nav>


<!-- Content starts here -->
<div class="container-fluid text-center">

    {% block base_center_container %}


    {% endblock %}


</div>

<footer class="container-fluid-text-center">
    Copyrights © 2018
</footer>

</body>
