{% extends 'base.html' %}






{% block base_center_container %}

    <div class="row content">

        {% block home-left-pane %}
            <div class="col-sm-3 sidenav" id="leftsec">
                <ul class="nav nav-tabs">
                    <!--li><a data-toggle="tab" href="#home">Object Control</a></li-->
                    <li class="active"><a data-toggle="tab" href="#menu1">Search</a></li>
                </ul>

                <div class="tab-content">
                    <!--div id="home" class="tab-pane fade">
                        <p><br><br>Displays objects selected on Map: In Development</p>
                    </div-->
                    <div id="menu1" class="tab-pane fade in active">
                        <div>
                            <br>
                            <input class="form-control" placeholder="Search Postal Code" name="srch-term" id="pc-search"
                                   type="text" onkeyup="search_pc(this.value.toUpperCase())">
                            <script>
                                function search_pc(p_postal_code) {
                                    var txt = "";
                                    var search_str = document.getElementById('pc-search').value;
                                    xhttp = new XMLHttpRequest();
                                    xhttp.onreadystatechange = function () {
                                        if (this.readyState == 4 && this.status == 200) {
                                            myObj = JSON.parse(this.responseText);
                                            txt += '<table id="pc-results" class="table table-striped table-hover" style="width:100%" > <thead><tr><th>PostalCode</th><th>Latitude</th><th>Longitude</th></tr></thead><tbody>'
                                            for (x in myObj) {
                                                txt += "<tr onClick='gotoPostalCode(this)'><td>"
                                                    + myObj[x].postalcode
                                                    + "</td><td>" + myObj[x].latitude
                                                    + "</td><td>" + myObj[x].longitude
                                                    + "</td></tr>"
                                            }
                                            txt += "</tbody></table>"
                                            document.getElementById("pp").innerHTML = txt;
                                            $('#pc-results').DataTable();
                                        }
                                    };

                                    xhttp.open("GET", "pc/?postalcode=" + p_postal_code, true);
                                    xhttp.send();


                                }

                                function gotoPostalCode(x) {
                                    /***
                                     *  var map = L.map('mapid').setView([-123.011611, 49.230488], 10); */
                                    console.log("lat: " + x.cells[1].innerHTML)
                                    console.log("lat: " + x.cells[2].innerHTML)
                                    map.panTo([x.cells[1].innerHTML, x.cells[2].innerHTML]);
                                    L.marker([x.cells[1].innerHTML, x.cells[2].innerHTML],
                                        {title: x.cells[0].innerHTML}
                                    )
                                        .addTo(map)
                                        .bindPopup("<b>PostalCode:" + x.cells[0].innerHTML + "</b><br>"
                                            + "latitude: " + x.cells[1].innerHTML + "<br>"
                                            + "longitude: " + x.cells[2].innerHTML)
                                        .openPopup();

                                }


                            </script>
                        </div>
                        <br>
                        <b align="left">Search Results</b>
                        <br>

                  <p id="pp"></p>
                    </div>
                    <div id="tracing" class="tab-pane fade">
                        <p><br><br>In Development</p>
                    </div>
                </div>


            </div>
        {% endblock %}



        {% block home-center-pane %}

        {% endblock %}



        {% block home-right-pane %}

        {% endblock %}

    </div>


{% endblock %}