{% extends 'home_base.html' %}





{% block home-center-pane %}
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <div class="col-sm-9 text-left" id="mapid"/>
    <script>
        var southWest = L.latLng(49.3162, -122.8512),
            northEast = L.latLng(49.1062, -123.2824),
            bounds = L.latLngBounds(southWest, northEast);

        /**var map = L.map('mapid').setView([-123.011611, 49.230488], 10); */
        var map = L.map('mapid', {
            center: [49.230488, -123.011611],
            maxBounds: bounds,
            zoom: 15,
            minZoom: 3,
            zoominfo: true,
            zoominfoControl: true,
            zoomControl: false,


        });

        /** Add Ruler to map
         * https://github.com/gokertanrisever/leaflet-ruler
         */
        L.control.ruler().addTo(map);


        L.tileLayer.wms("http://139.59.91.239/geoserver/ows?", {
            layers: 'gis:osm_base',
            format: 'image/png',
            transparent: true,
            version: '1.1.0'

        }).addTo(map);
        map.setMinZoom(map.getBoundsZoom(map.options.maxBounds));
    </script>




{% endblock %}





