<head>
    <title>myGIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>


    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
            integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
            crossorigin=""></script>

    <!-- add L.Control.Zoominfo js and css after Leaflet -->
    {% load static %}
    <!--link rel="stylesheet" href="{% static 'css/L.Control.Zoomslider.css' %}" /-->


    <!-- Leaflet Zoom Info: https://github.com/flaviocarmo/Leaflet.zoominfo -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/L.Control.Zoominfo.css' %}"/>
    <script src="{% static 'js/L.Control.Zoominfo.js' %}"></script>

    <!-- leaflet ruler: https://github.com/gokertanrisever/leaflet-ruler  -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.rawgit.com/gokertanrisever/leaflet-ruler/master/src/leaflet-ruler.css">
    <script src="https://cdn.rawgit.com/gokertanrisever/leaflet-ruler/master/src/leaflet-ruler.js"></script>

</head>


<body>

{% load static %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img src="{% static 'img/gnapi_logo.png' %}" heght=25px</img>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'home' %}">Search</a> </li>
                    <li><a href="{% url 'home' %}">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!--h1>myGis</h1-->

<!--form action="/search/" method="POST">
    <input type="text" name="query" value="Postal Code">
    <input type = "submit">
</form-->

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-3 sidenav" id="leftsec">
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#home">Object Control</a></li>
                <li class="active"><a data-toggle="tab" href="#menu1">Search</a></li>
                <li><a data-toggle="tab" href="#tracing">Tracing</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade">
                    <p><br><br>Displays objects selected on Map: In Development</p>
                </div>
                <div id="menu1" class="tab-pane fade in active">
                    <div>

                        <input class="form-control" placeholder="Search Postal Code" name="srch-term" id="pc-search"
                               type="text" onkeyup="search_pc(this.value.toUpperCase())">
                        <script>
                            function search_pc(p_postal_code) {
                                var txt = "";
                                var search_str = document.getElementById('pc-search').value;
                                xhttp = new XMLHttpRequest();
                                xhttp.onreadystatechange = function () {
                                    if (this.readyState == 4 && this.status == 200) {
                                        myObj = JSON.parse(this.responseText);
                                        txt += '<table id="pc-results" class="table table-striped table-hover" > <th>PostalCode</th><th>Latitude</th><th>Longitude</th>'
                                        for (x in myObj) {
                                            txt += "<tr onClick='gotoPostalCode(this)'><td>"
                                                + myObj[x].postalcode
                                                + "</td><td>" + myObj[x].latitude
                                                + "</td><td>" + myObj[x].longitude
                                                + "</td></tr>"
                                        }
                                        txt += "</table"
                                        document.getElementById("pp").innerHTML = txt;
                                    }
                                };

                                xhttp.open("GET", "pc/?postalcode=" + p_postal_code, true);
                                xhttp.send();


                            }

                            function gotoPostalCode(x) {
                                /***
                                 *  var map = L.map('mapid').setView([-123.011611, 49.230488], 10); */
                                console.log("lat: " + x.cells[1].innerHTML)
                                console.log("lat: " + x.cells[2].innerHTML)
                                map.panTo([x.cells[1].innerHTML, x.cells[2].innerHTML]);
                                L.marker([x.cells[1].innerHTML, x.cells[2].innerHTML],
                                    {title: x.cells[0].innerHTML}
                                )
                                    .addTo(map)
                                    .bindPopup("<b>PostalCode:" + x.cells[0].innerHTML + "</b><br>"
                                        + "latitude: " + x.cells[1].innerHTML + "<br>"
                                        + "longitude: " + x.cells[2].innerHTML)
                                    .openPopup();

                            }


                        </script>
                    </div>
                    <br>
                    <b align="left">Search Results</b>
                    <br>

                    <p id="pp"></p>

                </div>
                <div id="tracing" class="tab-pane fade">
                    <p><br><br>In Development</p>
                </div>
            </div>

        </div>
        <div class="col-lg-9 text-left" id="mapid">

        </div>
    </div>
</div>




<!-- Render Map Object -->
<script>

    var southWest = L.latLng(49.3162, -122.8512),
    northEast = L.latLng(49.1062, -123.2824),
    bounds = L.latLngBounds(southWest, northEast);

    /**var map = L.map('mapid').setView([-123.011611, 49.230488], 10); */
    var map = L.map('mapid', {
        center: [49.230488, -123.011611],
        maxBounds: bounds,
        zoom: 15,
        minZoom: 3,
        zoominfo: true,
        zoominfoControl: true,
        zoomControl: false,


    });

    /** Add Ruler to map
     * https://github.com/gokertanrisever/leaflet-ruler
     */
    L.control.ruler().addTo(map);


    L.tileLayer.wms("http://104.248.79.101:8080/geoserver/ows?", {
        layers: 'osm',
        format: 'image/png',
        transparent: true,
        version: '1.1.0'

    }).addTo(map);
 map.setMinZoom( map.getBoundsZoom( map.options.maxBounds ) );

</script>


</body>


<footer class="container-fluid-text-center">
    Copyrights © 2018
</footer>