<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Title</title>
</head>
<body>
<h1> Search Page</h1>

<form id="searchform" action="{% url 'search' %}" method="get" accept-charset="utf-8">
    <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
    </button>
    <input class="searchfield" id="searchbox" name="postalcode" type="text" placeholder="Search">
</form>

</body>
</html>